@use "@scss/common.scss" as *;

.udp-profile-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 2rem;
  margin-bottom: 30px;

  .left {
    display: flex;
    align-items: center;
    gap: 23px;

    .avatar {
      width: 60px;
      height: 60px;
      background-color: #e3f2fd;
      color: $primary-dark-color;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 24px;
    }

    .name {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .status {
      font-size: 14px;
      padding: 5px 15px;
      border-radius: 10px;
      background-color: #dcfce7;
      color: #36955a;

      &.inactive {
        background-color: #fee2e2;
        color: #b91c1c;
      }
    }

    .role {
      color: #666;
      text-transform: capitalize;
      font-size: 14px;
    }

    .id {
      font-size: 12px;
      color: #666;
    }
  }

  .right {
    display: flex;
    gap: 8px;
  }
}
