@use "@scss/common.scss" as *;

.udp-points-information {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 1.5rem;

  .label {
    font-size: 19px;
    color: $primary-dark-color;
    font-weight: 600;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    .btn-edit {
      color: $primary-dark-color;
      padding: 4px;
    }
  }

  .point-information-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .point-item {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .point-value {
        font-size: 24px;
        font-weight: 600;
        color: $primary-dark-color;
      }

      .point-label {
        color: #666;
        font-size: 14px;
      }
    }

    .btn-view-history {
      background-color: $primary-dark-color;
      color: white;
      padding: 6px 16px;
      font-size: 0.875rem;
      min-width: 64px;
      box-sizing: border-box;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      border-radius: 4px;
      text-transform: uppercase;
      font-weight: 500;

      &:hover {
        background-color: #1565c0;
      }
    }
  }
}
