$primary-color: #0066c6;
$primary-dark-color: #003363;
$secondary-color: #000ac9;
$tertiary-color: #f6f2f7;
$font-color: #344054;
$background-color: #f7f7f7;

$text-color: #676767;

$primary-color-hover: #b5bcff5d;

$white-color: #fff;
$black-color: #000;
$semi-black-color: #747474;

$navbar-select-color: #ffffff2a;